version: '3'

services:
  get-your-vpn-openvpn-prometheus-exporter:
    image: kumina/openvpn-exporter
    container_name: {{ get_your_vpn_openvpn_prometheus_exporter_container_name }}
    ports:
      - '{{ get_your_vpn_openvpn_prometheus_exporter_port }}:9176'
    volumes:
      - '/opt/get-your-vpn/get-your-vpn-openvpn/openvpn-data/openvpn-status.log:/etc/openvpn_exporter/server.status'
    command: -openvpn.status_paths /etc/openvpn_exporter/server.status

networks:
  default:
    external:
      name: get-your-vpn
